h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-family: 'Slabo 27px', serif;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul li {
  list-style-type: none;
  margin-bottom: 0;
}

h6 {
  font-weight: bold;
}

input[type=text] {
  border: #fff;
  height: 30px;
}

.form-btn {
  border-color: #fff;
}

.form-btn:hover {
  border-color: #fff;
  color: #6699ff;
}

#logo {
  text-align: center;
}
